# Frontend
node_modules/
dist/
*.tsbuildinfo
.vite/

# Backend
src-tauri/target/
src-tauri/nevermind.db
src-tauri/nevermind.db-journal
src-tauri/gen

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.agent
.claude
.cursor
.gemini
.trae/skills
openspec
.vimsession.vim
